@model Brenda.Contracts.V1.Requests.AssetForm

<div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
        <h3 class="card-title">Definições de Asset de @Model.ActionName</h3>
    </div>

    <div class="card-body">
        <div class="uppy" id="kt_uppy_2">
            <div class="uppy-dashboard"></div>
            <div class="uppy-progress"></div>
        </div>
    </div>
</div>
