@model Sara.Api.Models.RecoverAccount
<html>
<head>
    <title>
        Clique para recuperar sua senha
    </title>
</head>
<body>
    <h3>Olá, tudo bom?</h3>
    <h4>Você solicitou um link para redefinir sua senha.</h4>
    <p>Para redefinir sua senha <a href="@Model.CallbackUrl" target="_blank">clique neste link</a>. Caso você não tenha solicitado redefinição de sua senha, desconsidere enste email.</p>
</body>
</html>