@model Sara.Contracts.Security.UserRegister
<html>
    <head>
        <title>Bem-vindo à Brenda</title>
    </head>
<body>
    <h3>Bem-vindo</h3>
    <p><strong>Sua senha:</strong> @Model.Password</p>
</body>
</html>