@model CampaignViewModel

<div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-start-up text-primary"></i>
            </span>
            <h3 class="card-title">Ação de Questionário</h3>
        </div>
        <div class="card-toolbar">
            <button class="btn btn-primary mr-2" data-toggle="modal" data-target="#modal_assets">
                <i class="fa la-check icon-xs"></i>
                Selecionar Asset de Questionário
            </button>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.AssetId.HasValue)
        {
            <div class="form-group row">
                <label>Nenhum <strong>asset de questionário</strong> foi selecionado para essa campanha.</label>
                <small>Os asseets são os conteúdos apresentados para os usuários que ativam as campanhas através de QRCode.</small>
            </div>
        }
        else 
        {
            foreach (QuizView question in ViewBag.Quiz)
            {
                <p><strong>Pergunta:</strong> @question.Description</p>

                <ul class="ul">
                    @foreach (QuizView option in question.Options)
                    {
                        <li>@option.Description</li>
                    }
                </ul>
            }
        }
    </div>
</div>