@{
    ViewBag.Subtitle = "Ajuda e Documentação";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-help text-primary"></i>
                    </span>
                    <h3 class="card-title">Ajuda à plataforma Brenda Rewards</h3>
                </div>

            </div>
            <div class="card-body">
                <h3>Bem vindo ao centro de ajuda à plataforma Brenda Rewards</h3>
                <p>Aqui você terá acesso à documentação e instruções de uso das ferramentas disponíveis na plataforma.</p>
            </div>
        </div>
    </div>
</div>

@section head {
    <style>
    </style>
}

@section scripts {

}

