@model Sara.Api.Models.ResetForm
<html>
<head>
    <title>
        Brenda Rewards
    </title>
</head>
<body>
    <h1>Sua senha foi alterada!</h1>
    <p>Abra seu aplicativo Brenda no seu aparelho celular e entre com a nova senha.</p>
</body>
</html>